streamlit 
pandas 
plotly
seaborn
matplotlib
numpy
openpyxl
openai
google-genai
toml
google-generativeai
pillow
tabulate
qrcode
gspread
google-api-python-client
google-auth
google-auth-httplib2



